/* Footer ---------------------- */
.footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: var(--spacing-md) 0;
  margin-top: var(--spacing-lg);
}
.footer__contact-container {
  width: 100%;
  display: flex;
  margin-bottom: var(--spacing-md);
  justify-content: center;
  align-items: center;
}

.footer__text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: 0 var(--spacing-md);
}

.footer__text {
  padding: 0 var(--spacing-sm);
}

.footer__link {
  color: var(--text-color);
}
.footer__link:hover {
  color: grey;
  cursor: pointer;
}

.footer__middle-container {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* Media queries ---------------- */
@media screen and (max-width: 786px) {
  footer {
    font-size: var(--font-size-small);
  }

  .footer__text-container {
    padding: 0 var(--spacing-sm);
  }
  .footer__text {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .footer__text{
    line-break: strict;
  }
}
